:root {
    --main-color: #11499e;
    --light-color: #fff;
    --dark-color: #000;
}

.company_profile {
    background-image: url('https://hamakyu.vn/web/image/11588-e12d8ce9/background-2.jpg');
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
}

.company_portal_number {
    background-color: var(--main-color);
    padding: 2rem 20%;
}

.company_why_us {
    position: relative;
    min-height: 90vh;
}

.background_vid {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    overflow: hidden;
    background-repeat: no-repeat;
    pointer-events: none;
    filter: brightness(0.5);
}

.background_vid_iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.why_us_content {
    position: relative;
    padding: 2rem 20%;
    color: var(--light-color);
    text-align: center;
}

.why_us_block {
    border-radius: 8px;
    border: 3px solid var(--main-color);
    min-height: 250px;

    padding: 35px 5px;
    margin-bottom: 16px;
}

.why_us_block>img {
    width: 30%;
    margin-bottom: 20px;
}

.why_us_block>p {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;
}

.company_team_container {
    padding: 2rem 10%;
    color: var(--main-color);
}

.avatar {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
    background-image: url(../image/about/Mike.jpg);
    transition: 0.3s;
}

.avatar:hover {
    background-image: url(../image/about/Mike-hover.jpg);
}